@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 30 33% 99%;
    --foreground: 25 47% 15%;

    --card: 30 33% 99%;
    --card-foreground: 25 47% 15%;

    --popover: 30 33% 99%;
    --popover-foreground: 25 47% 15%;

    --primary: 25 63% 30%;
    --primary-foreground: 30 33% 99%;

    --secondary: 200 46% 45%;
    --secondary-foreground: 30 33% 99%;

    --muted: 20 15% 90%;
    --muted-foreground: 25 47% 35%;

    --accent: 43 74% 49%;
    --accent-foreground: 25 47% 15%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 30 33% 99%;

    --border: 20 15% 85%;
    --input: 20 15% 85%;
    --ring: 25 47% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 25 47% 8%;
    --foreground: 30 33% 99%;

    --card: 25 47% 8%;
    --card-foreground: 30 33% 99%;

    --popover: 25 47% 8%;
    --popover-foreground: 30 33% 99%;

    --primary: 43 74% 49%;
    --primary-foreground: 25 47% 8%;

    --secondary: 200 46% 45%;
    --secondary-foreground: 30 33% 99%;

    --muted: 25 47% 15%;
    --muted-foreground: 20 15% 65%;

    --accent: 25 63% 30%;
    --accent-foreground: 30 33% 99%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 30 33% 99%;

    --border: 25 47% 15%;
    --input: 25 47% 15%;
    --ring: 30 33% 99%;

    --radius: 0.5rem;
  }
}